---
---

$bg0: #A19A70;
$bg1: #EBE3AF;
$bg2: #A99951;
$bg3: #7D762B;
$bg4: #1A2423;
     
$webWidth: 960px ;
$colSize: $webWidth / 12 ;
  
$lh: 16px;

 
@mixin transition {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

* {
	font-family: 'Josefin Sans', arial, serif;
	line-height: $lh;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: $bg4;
	font-weight: 300;
}


a {
	@include transition;
}


html, body {
	background: url('../images/bg.png'),  $bg1;
}

h1 {
	font-family: 'The Girl Next Door', arial, serif; 
}

header {
	margin: 0 auto;
	text-align: center;
	display: block;
    h1 {
		padding-top: 8px;
		padding-left: 12.5%;
		padding-right: 12.5%;
		font-size: 56px;
		line-height: 56px;
		margin-top: $lh*2;
	}
	h2 {
		font-size: 16px ;
		line-height: 16px ;
		color: $bg2 ;
	}

	padding-bottom: $lh * 2;
}

section {
	display: block;
	margin: 0 auto;


	&.center {
		max-width: $colSize * 6;
		padding: $lh $colSize;
		position: relative;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(169,153,81,0.8)), color-stop(1, rgba(235,227,175,0)));
		text-align: center;
		
		h1 {
			text-align: center;
			font-size: $lh * 3;
			line-height: $lh * 3;
		}

		p {
			text-align: justify;
			font-size: 16px;
			margin-bottom: $lh;
			font-weight: 500;
			text-shadow: $bg1 0.5px 0.5px 1px;
			
			em {
				font-weight: normal;
			}
			
			strong a, strong {
				font-weight: 700;
			}
			a:active, a:focus {
				background: $bg4;
				color: $bg1;
				outline: 0;
				text-decoration: none;
				text-shadow: none;
			}
			a:hover {
				text-decoration: none;
			}
		}
		img {
			text-align: center;
			display: block;
		}

		h2 {
			text-align: center;
			font-size: $lh*2;
			line-height: $lh*2;
		}
		
		
	}

	&.wide {
		background: url(images/bg.png), $bg4;
		width: 100%;
		padding: $lh*2 0;
		a {
			color: $bg1;
		}
		>ul {
			margin: 0 auto;
			list-style: none;
			text-align: center;
			li {
				width: $colSize * 4;
				vertical-align: top;
				display: inline-block;
				padding: 0 10px;
				h1 {
					text-align: center;
					font-weight: 300;
					margin-bottom: $lh*2;
				}
				h1>a {
					font-size: 40px;
					line-height: $lh * 3;
					color: $bg3;
					text-decoration: none;
				}
				ul li {
					margin-bottom: $lh/2;
				}
				ul, ul li, ul li a {
					text-align: left;
					font-size: 14px;
					text-decoration: none;
					color: $bg0;
				}
			}
		}
	}

	&.list {
		background: url(images/bg.png), $bg4;
		max-width: 100%;
		padding: $lh*2 0 0;
		text-align: center;
		>ul{
			max-width: $colSize * 13;
			list-style: none;
			display: inline-block;
			li {
				display: inline-block;
				width: $colSize *2;
				text-align: center;
			}
			a {
				text-decoration: none;
				color: $bg3;
			}
			a:hover {
				color: $bg1;
			}
		}
	}
	
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

footer {
	background: url(images/bg.png), $bg4;
	max-width: 100%;
	padding: $lh*2 0 0;
	text-align: center;
	color: $bg1;
	p {
		padding: $lh*2 0;	
	}
	a, p {
		color: $bg1;
		text-decoration: none;
	}
	a:hover {
		color: $bg1;
	}
}

@media (max-width:640px) {
	section.center {
		padding: $lh 12.5%;
		width: inherit; 
		max-width: inherit;
		img {
			width: 100%;
		}
	}
	
	
}